<div *ngIf="houseId">
    <form [formGroup]="meterForm" (ngSubmit)="onSubmit()">
        <h1 class="mat-h1">Meter {{myHouseId}}</h1>
        <input type="hidden" formControlName="id">
        <input type="hidden" formControlName="houseId">

        <mat-form-field appearance="fill">
            <mat-label>Serial Number:</mat-label>
            <input matInput type="number" formControlName="serialNumber" required>
        </mat-form-field>
        
        <mat-form-field appearance="fill">
            <mat-label>Reading:</mat-label>
            <input matInput type="number" formControlName="readings" required>
        </mat-form-field>
        <br>

        <div class="button-row">
            <button mat-button type="button" (click)="goBack()">Back</button>
            <button mat-raised-button color="primary" type="submit" [disabled]="!meterForm.valid">Submit</button>
        </div>
        <div class="button-row" align="right">
            <button *ngIf="meterForm.value.id" mat-raised-button color="warn" type="button" (click)="deleteMeter(meterForm.value.id)">Delete</button>
        </div>
    </form>
</div>