<h1 id="tableLabel">Houses</h1>

<p *ngIf="!houses$"><em>Loading...</em></p>


<div class="button-row" style="padding-top: 10px;padding-bottom: 10px;">
  <button mat-raised-button color="primary" (click)="showCreateHouse()">Добавить дом</button>
  <button mat-raised-button color="link" (click)="showMaxReadingHouse(false)">Дом с наибольшим значением счетчика</button>
  <button mat-raised-button color="link" (click)="showMaxReadingHouse(true)">Дом с наименьшим значением счетчика</button>
</div>


<table class='table' aria-labelledby="tableLabel" *ngIf="houses$">
  <thead class="thead-dark">
    <tr>
      <th>Id</th>
      <th>Zip</th>
      <th>Country</th>
      <th>City</th>
      <th>Street</th>
      <th>Number</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let house of houses$ | async">
      <td>{{ house.id }}</td>
      <td>{{ house.zip }}</td>
      <td>{{ house.country }}</td>
      <td>{{ house.city }}</td>
      <td>{{ house.street }}</td>
      <td>{{ house.number }}</td>
      <td>
        <div class="button-row">
          <button mat-raised-button color="primary" type="button" (click)="detailHouse(house.id)">Подробнее</button>
          <button mat-raised-button color="warn" type="button" (click)="deleteHouse(house.id)">Удалить</button>  
        </div>
      </td>
    </tr>
  </tbody>
</table>